/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blocks-course-team-slider {

	.swiper-wrapper {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
